@model Author

<h2>Please add new author:</h2>


 <form  action="/Author/Add" method="post">
  <div class="form-row">
    <div class="col-5">
       <input type="text" class="form-control" placeholder="Name"  name="Name" >
    </div>
    <div class="col-4">
        <button type="submit" class="btn btn-dark">Add</button>
    </div>  
  </div>
</form>


