@model ShopItem

<h2>Edit</h2>

 @using(Html.BeginForm("Edit", "ShopItem", FormMethod.Post ))
 {

 <form>
  <div class="form-row">
    <div class="col-5">
     <label asp-for ="Name"></label>
     <input asp-for ="Name" class="form-control" readonly>
    </div>
    <div class="col-4">
      <label asp-for ="ShopName"></label>
     <input asp-for ="ShopName" class="form-control">
    </div>
    <div class="col">
     <label asp-for ="ExpireDate"></label>
     <input asp-for ="ExpireDate" class="form-control">
    </div>
    <div class="col-1">
         <button type="submit" class="btn btn-dark">Update</button>
    </div>  
  </div>
</form>


 }