@model ShopItem

<h2>Edit</h2>

 @using(Html.BeginForm("Edit", "Shop", FormMethod.Post ))
 {

  <div class="row bg-secondary bg-gradient p-2 text-white bg-opacity-25">
    <div class="col">
     <label asp-for ="Name"></label>
     <input asp-for ="Name" class="form-check control">
    </div>
    <div class="col">
    <label asp-for ="ShopName"></label>
     <input asp-for ="ShopName" class="form-check control">
    </div>
    <div class="col">
     <label asp-for ="ExpireDate"></label>
     <input asp-for ="ExpireDate" class="form-check control">
    </div>
    <div class="col">
         <button type="submit" class="btn btn-dark">Edit</button>
    </div>  
  </div>

 }